@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #ffffff;
    --head-color: #000000;
    --main-color: #797777d2;
    --foot-color: #00eeff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--head-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
  height: 10%;
}

.header.sticky {
    background: var(--head-color);
}

.header h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  margin-left: 10%;
  font-size: 32px;
    z-index: 1;
}

.header h1 span {
  margin-left: 1rem;
  color: var(--foot-color);
}

.navbar {
    position: relative;
}

.navbar a {
  margin-left: -20%;
  transition: 0.3s;
  font-size: 24px;
}

.navbar .active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0.5rem #1083b1;
  width: 15rem;
  height: 7vh;
  border-radius: 4rem;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--head-color);
  background: var(--foot-color);
}

.navbar a:hover,
.navbar a:active {
    color: var(--text-color);

}

#menu-icon {
    position: relative;
    font-size:3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

iframe {
    width: 30%;
  height: 30%;
    display: fixed;
    position: fixed;
    left: 70%;
    top: 61%;
    z-index: 1;
}

.home {
    display: flex;
    margin: 10rem;
    align-items: center;
}

.home img {
    width: 50%;
    height: 40vh;
}

.home h1 {
    float: right;
  font-size: 36px;
    margin-left: 2rem;
    color: var(--text-color);
}

.home h1:hover {
  color: var(--main-color);
}

.footer {
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    background: var(--head-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
  margin-left: 6rem;
  color: var(--text-color);
}

.footer-iconTop {
    position: relative;
    display: fixed;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.footer-iconTop a i {
    font-size: 3rem;
  margin-right: 6rem;
    color: var(--text-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        width: 100%;
      margin: 0;
      height: 15vh;
    }

  iframe {
      width: 40%;
      left: 60%;
      top: 60%;
    }
  
  .home{
    margin-top: 12rem;
  }

    .footer {
        height: 10vh;
    }
}

@media (max-width: 768px) {
  body {
      margin-top: 5rem;
    }

    iframe {
      width: 50%;
      left: 50%;
      top: 58%;
    }
  
    .header {
        background: var(--head-color);
      height: 15vh;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: transparent;
        box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.2);
        z-index: 1;
        transition: 0.25s ease;
        transition-delay: 0.25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
  
    .navbar a {
        display: block;
        font-size: 2rem;
        margin-left: 40rem;
        transform: translateX(180rem);
        transition: 0.1s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
      transform:translateX(0);
      transition-delay: 0.25s;
    }

  .home {
    flex-direction: column;
    margin: 0;
    }

    .home img {
        width: 80%;
        height: 100%;
       margin-top: 7rem;
    }

    .home h1 {
        font-size: 24px;
        margin-top: 2rem;
    }

    .footer {
      display: flex;
        margin-top: 4rem;
      height: 12vh;
    }

    .footer-text p{
        left: 0;
        margin-bottom: 5%;
      margin-top: 7%;
    }

    .footer-iconTop {
        margin-bottom: 2rem;
      margin-right: 10%;
    }

    .footer-iconTop a i {
        position: absolute;
      
    }
}

@media (max-width: 520px) {
html {
    font-size: 50%;
}

  body {
        margin-top: 3rem;
        width: auto;
        height: auto;
    }

  iframe {
        width: 55%;
        left: 44%;
        top: 60%;
    }
  
  .header h1 {
    margin-left: 3rem;
  }

  .home {
        flex-direction: column;
      margin: 0;
    }

  .home img {
        width: 100%;
        height: 100%;
      margin-top: 7rem;
    }

  .footer {
    display: flex;
      height: 10vh;
      bottom: 0;
      margin-top: 5rem;
  }
}

@media (max-width: 462px) {
    body {
        margin-top: 13rem;
        width: auto;
        height: auto;
    }

    .header {
      height: 8vh;
    }

    .header h1{
      font-size: 32px;
    }

    #menu-icon {
      margin-right: 4rem;
    }

    .navbar .active {
      width : 30vw;
      height: 5vh;
    }

  .navbar a {
    margin-left: 35rem;
  }

    iframe {
        width: 55%;
        height: 22rem;
        left: 44%;
        top: 72%;
    }

    .home {
        flex-direction: column;
      margin-top: 5rem;
      text-align: center;
    }

    .home img {
        width: 80%;
        height: 100%;
        margin-top: 1rem;
    }

    .home h1 {
        font-size: 24px;
        margin-top: 2rem;
    }

    .footer {
      display: flex;
      height: 10vh;
      bottom: 0;
      margin-top: 5rem;
    }

    .footer p {
      text-align: left;
      margin-left: 4rem;
    }

    .footer a i {
      margin-top: 0;
      margin-right: 1rem;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        font-size: 5rem;
    }
}